/* RGB */
/*
$color1: rgba(235, 94, 85, 1);
$color2: rgba(58, 51, 53, 1);
$color3: rgba(216, 30, 91, 1);
$color4: rgba(253, 240, 213, 1);
$color5: rgba(198, 216, 211, 1);
*/

body {
  margin: 0px;
  font-family: 'Alegreya', serif;
  color: rgba(253, 240, 213, 1);
  background-image: linear-gradient(to right, rgba(216, 30, 91, 1), rgba(235, 94, 85, 1));
  background-color: rgba(216, 30, 91, 1);
}

/* a:hover {
  font-style: italic;
} */

.dark {
  color: rgba(58, 51, 53, 1);
}

.alegreya {
  font-family: 'Alegreya', serif;
}

.alegreya-sc {
  font-family: 'Alegreya SC', serif;
}

.plex {
  font-family: 'IBM Plex Serif', serif;
  font-style: italic;
}

.container {
  height: 100%;
  width: 100vw;
}

.thing-container {
  height: 50vh;
}

.thing, .thing a {
  font-size: 64px;
  line-height: 64px;
  color: rgba(235, 94, 85, 1);
}

.first-thing, .first-thing a {
  /* background-color: blue; */
  padding-bottom: 24px;
}

.second-thing, .second-thing a {
  /* background-color: green; */
  padding-top: 24px;
}

.footer-text {
  position: absolute;
  left: 12px;
  bottom: 12px;
}
