body {
  margin: 0px;
  font-family: 'Alegreya', serif;
  background-color: #2E294E;
  color: #E8C1C5;
}

a {
  color: #D499B9;
}

a:visited {
  color: #9055A2;
}

.primary {
  color: #E8C1C5;
}

.secondary {
  color: #D499B9;
}

.dark {
  color: #011638;
}

.sarabun {
  font-family: 'Sarabun', sans-serif;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.alegreya {
  font-family: 'Alegreya', serif;
}

.alegreya-sc {
  font-family: 'Alegreya SC', serif;
}

.container {
  height: 100%;
  width: 100vw;
}

.home-title {
  font-size: 128px;
  text-align: center;
  margin-top: 0px;
  padding-top: 64px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.home-title-divider {
  width: 55vw;
  border-top: 1px solid #E8C1C5;
  border-color: #E8C1C5;
}

.home-subtitle {
  font-size: 32px;
  text-align: center;
}

.list-of-things {
  margin-left: 33vw;
  width: 33vw;
  text-align: center;
  padding-bottom: 64px;
}

.thing {
  font-size: 24px;
  text-align: center;
}

.footer-text {
  position: absolute;
  left: 12px;
  bottom: 12px;
}

/* @media screen and (max-width: ) */
/* @media screen and (max-width: 926px) {
  .home-title {
    padding-top: 24px;
    line-height: 164px;
  }

  .home-title-divider {
    margin-top: 24px;
    width: 65vw;
    border-top: 1px solid #E8C1C5;
    border-color: #E8C1C5;
  }
}

@media screen and (max-width: 575px) {
  .home-title {
    padding-top: 48px;
    font-size: 72px;
    line-height: 120px;
  }

  .home-title-divider {
    margin-top: 24px;
    width: 80vw;
    border-top: 1px solid #E8C1C5;
    border-color: #E8C1C5;
  }

  .home-subtitle {
    font-size: 24px;
  }

  .list-of-things {
    margin-left: 10vw;
    width: 80vw;
  }

  .thing {
    font-size: 16px;
  }
}

@media screen and (orientation: landscape) and (max-width: 926px) {
  .footer-text {
    position: relative;
  }
} */
